
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Password updated successfully</title>
<script type="text/javascript">
	function noBack() {
		window.history.forward();
	}
</script>
</head>
<body onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="">
<h1><b>Password Updated Successfully !</b></h1>
<br><br>
<h4>Click </h4><a href="goToHome.do">here</a><h4> to go back to Home page.</h4>
</body>
</html>